oauth/src/main/mule/oauth.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="efe81fa6-152c-4487-8523-c63cf6ffd535" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="oauthFlow" doc:id="16025e83-d3ab-477e-9244-2694381d5714" >
		<http:listener doc:name="Listener" doc:id="02185ee4-fd0b-47d7-9a0d-68c0560c141d" config-ref="HTTP_Listener_config" path="/git"/>
		<ee:transform doc:name="Transform Message" doc:id="731c1c29-9be8-47fd-bd52-39c4357095e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"demo"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="46fe5385-04e1-4bf8-88ab-7dcc9de1047d" message="#[payload]"/>
	</flow>
</mule>
